services:

  mongodb:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build:
      context: ./backend
    container_name: node-backend
    restart: always
    ports:
      - "5001:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongodb

  frontend:
    build:
      context: ./frontend
    container_name: react-frontend
    restart: always
    ports:
      - "8880:80"
    depends_on:
      - backend

volumes:
  mongo-data:

